@import "tailwindcss";

@theme {
  /* Suprascriem fontul default (Inter) */
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;

  /* Fontul pentru BoldEvents */
  --font-events: var(--font-events), monospace;

  /* Fontul pentru BoldCreative */
  --font-creative: var(--font-clash);
  --font-clash: var(--font-clash);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
